<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron App</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h1 style="background-color: aqua;">Choose Directory</h1>
        <input type="file" id="directoryInput" webkitdirectory directory>
        <div>
             <button id="printPDFButton">Print PDF</button>
        </div>
        <div id="folder-path"></div>

    </div>
     <div style="color: brown;" id="excelValueContainer"></div>
     <script src="../../middle/preload.js"></script>
    <script src="./renserer.js"></script>
</body>
</html>
